<!doctype html>
<html lang="fr">
<head>

    <title>{% block title %}Billetterie Du Louvre{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">


    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark navbar-bg mb-5">
    <a style="margin-left: 75px;" class="navbar-brand space-brand" href="{{ path('app_homepage') }}">Billetterie Du Louvre</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a style="color: #fff;" class="nav-link" href="{{ path('app_homepage') }}">Billetterie</a>
            </li>
            <li class="nav-item">
                <a style="color: #fff;" class="nav-link" href="{{ path('app_contact') }}">contact</a>
            </li>
        </ul>

    </div>
</nav>
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
{% block body %}{% endblock %}


<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">Fait avec <i class="fa fa-heart" style="color: red;"></i> par <a href="http///Atipicwebdesign.fr">AtipicWebDesign</a> pour un projet d'étude</span>
    </div>
</footer>

{% block javascripts %}

    {{ encore_entry_script_tags('app') }}

{% endblock %}
</body>
</html>