{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('css/stripe.css')}}"/>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">

        <!-- Article List -->

        <div class="col-sm-12 col-md-12">

            <!-- H1 Article -->
            <a class="main-article-link" href="#">
                <div class="main-article mb-5 pb-3">
                    <img src="{{ asset('images/louvre.jpeg') }}" alt="Images du louvre">
                    <h1 class="text-center mt-2">DECOUVREZ NOTRE MUSEE <br>Paiement</h1>
                </div>
            </a>
        </div>
    </div>



                    <!-- Form code begins -->
    <div class="bootstrap-iso">
        <div class="container-fluid">
        <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
<form action="" method="POST">
                    <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ stripe_public_key}}"
                        data-amount="{{ ticket.price *100}}"
                        data-name="Billetterie du Louvre"
                        data-description="Paiement"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto"
                        data-zip-code="true"
                        data-currency="eur"
                        data-label="Paiement Par Carte"
                        data-email="{{ ticket.customer.adresseEmail}}">
                    </script>
                </form>

        </div>

        <div class="col-sm-12 col-md-6 text-center">

                <div class="quote-space pb-2 pt-2 px-5">
                    <h3 class="text-center pb-3">Votre Visite du {{ ticket.dateVisit|date('d/m/Y') }} </h3>
                    <p><i class="fa fa-comment"></i> "Tarif:
                         {% if(ticket.typeTicket=='tarifJournee' ) %}{{ 'journée' }}{% else %}{{ 'demi-journée' }}{% endif %}
                        " <br></p>
                    {% for visitor in ticket.visitors %}
                        <p class="pt-4"><i class="fa fa-comment"></i> "{{ visitor.name }} {{ visitor.firstName }} " <br>prix du Billet : {{ visitor.price }}€<br></p>
                    {% endfor %}
                    {{ ticket.price ?  'Total: '~ticket.price~'€' : ''}}

                </div>

        </div>

        </div>
                </div>
            </div>
</div>
    </div>


                    <!-- Form code ends -->





{% endblock %}
    {%  block Javascript %}}
    {{ parent }}
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}